
body {
    background-color: #e0d0c0;
} 



footer {
    text-align: center;
    color: #333;
    /* font-size: 14px;
    margin-top: 40px;  space above footer */
  }

/* Buttons */
button {
    background-color:#dfb0b0;
    border-radius: 50px ;
}

button:hover {
    color:antiquewhite;
    background-color: #3d361ce1;
}