* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Includes padding and border in total width */
    font-family: Arial, sans-serif;
}

body {
    background-color: #e0d0c0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* min height */
}

.contact-container {
    background-color: #dfb0b0;
    padding: 30px 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    width: 100%;
    max-width: 600px;
    animation: fadeInScale  0.5s ease-in-out; /* applies the fade-in and slide-up animation */
}

@keyframes fadeInScale {
    from {
        opacity:0.5; /* element starts slightly visible */
        transform: translateY(10px); /* positioned 10px lower at the start */

    }
    to {
        opacity: 1; /* fully visible at the end */
        transform: translateY(0); /* moves back to its original position */
    }
    
}

.contact-container h1 {
    text-align: center;
    margin-bottom: 19px;
    color: #3d361ce1;
}

.contact-container p {
    margin-bottom: 15px; /* Spacing below paragraph */
    color: #3d361ce1; /* Paragraph text color */
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 1rem;
     background-color: #bda5a5; /* Input background */
     color: #3d361ce1;
}


.input-group {
    display: grid; /* Creates responsive grid layout */
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); /* Auto responsive fields */
    gap: 15px; /* Space between fields */
    margin-bottom: 15px; /* Spacing below group */
}

/* Textarea */
form textarea {
    resize: none; /* Prevent resizing */
    height: 100px;
       margin-bottom: 20px;   
}

/* Focus effect */
input:focus, textarea:focus {
    border-color: #3d361ce1;
    outline: none;
    box-shadow: 0 0 0 1px rgba(167, 18, 117, 0.3);
}

/* Placeholder */
input::placeholder,
textarea::placeholder {
    color: #3d361ce1;
}

/* Submit button */
form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #3d361ce1;
    color: antiquewhite;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

/* Hover */
form button:hover {
    background-color: #493845;
    transform: translateY(-2px); /* Slight lift effect */
    box-shadow: 0 3px 10px rgba(167, 18, 117, 0.3); /* Hover shadow */
}